body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("http://itplus-academy.edu.vn/upload/c47d9c29fc44c2b7996a2613aec3c1f9/files/pas.jpg");
  background-size: cover;
  font-family: "Inconsolata", sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-frame {
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 100px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 3px 5px #00ffff;
}
button {
  font-family: "Inconsolata", sans-serif;
  padding: 30px 40px;
  font-size: 30px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  font-weight: bold;
  background: #fff;
  color: #000;
  animation: fadeIn 0.5s ease-in-out;
}

.inconsolata-content {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.c {
  color: #0f0f0f;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeIn {
  animation: fadeIn 1s both;
}

.fadeOut {
  animation: fadeOut 1s both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.content {
  font-style: italic;
  font-family: "Inconsolata", sans-serif;
  font-size: 70px;
  line-height: 1.8;
  padding: 200px 0;
  text-align: center;
  width: 100%;
}

.animated {
  /* animation-duration: 1s;
  animation-fill-mode: both; */
}
