body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/564x/32/55/8c/32558cb793e14aef69ea5cf7256f75b9.jpg");
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#start-frame {
  position: absolute;
  width: 100%;
  height: 100%;
}

h1 {
  position: absolute;
  top: -70px;
  left: 25%;
  font-size: 80px;
  border: 1px solid #000;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  font-family: "Inconsolata", sans-serif;
}
button {
  font-family: "Inconsolata", sans-serif;
  position: absolute;
  top: 70%;
  left: 45%;
  padding: 30px 40px;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  font-weight: bold;
  background: #fff;
  color: #000;
  animation: fadeIn 0.5s ease-in-out;
}

.inconsolata-content {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.c {
  color: #657457;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
    color: #657457;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5);
    color: #657457;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    color: #657457;
  }
}

.fadeIn {
  animation: fadeIn 1s both;
  color: #657457;
}

.fadeOut {
  animation: fadeOut 1s both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.content {
  font-style: italic;
  font-family: "Inconsolata", sans-serif;
  font-size: 40px;
  line-height: 1.8;
  padding: 200px 0;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #657457;
}

.animated {
}
